<template>
    <div>
        <form @submit.prevent="submit_form">
            Link Title:
            <br />
            <input type="text" v-model="fields.link_text" class="form-control" />
            <div class="alert alert-danger" v-if="errors && errors.link_text">
                {{ errors.link_text[0] }}
            </div>
            <br />
            Href:
            <br />
            <input rows="10" class="form-control" v-model="fields.href">
            <div class="alert alert-danger" v-if="errors && errors.href">
                {{ errors.href[0] }}
            </div>
            <br />
            Platform:
            <select class="form-control" v-model="fields.platform_id">
                <option v-for="platform in platforms"
                        :value="platform.id">{{ platform.name }}</option>
            </select>
            <div class="alert alert-danger" v-if="errors && errors.platform_id">
                {{ errors.platform_id[0] }}
            </div>
            <br />
            <input type="submit" class="btn btn-primary" value="Save post" :value="form_submitting ? 'Saving Post...' : 'Save Post'" :disabled="form_submitting"/>
        </form>
    </div>
</template>



<script>
    export default {
        name: "Create.vue",
        data() {
            return {
                platforms: {},
                fields: {
                    href: '',
                    link_text: '',
                    platform_id: ''
                },
                errors: {},
                form_submitting: false
            }
        },
        mounted() {
            axios.get('api/platforms')
                .then(response => {
                    this.platforms = response.data.data;
                });
        },
        methods: {
            submit_form() {
                this.form_submitting = true;
                axios.post('api/links', this.fields)
                    .then(response => {
                        this.$router.push('/');
                        this.form_submitting = false;
                    }).catch(error => {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors;
                    }
                    this.form_submitting = false;
                });
            }
        }
    }
</script>

<style scoped>

</style>
