<template>
    <div>
        <select v-model="platform_id" class="form-control col-md-3">
            <option value="">-- choose platform --</option>
            <option v-for="platform in platforms"
                    :value="platform.id">
                {{ platform.name }}
            </option>
        </select>

        <table class="table">
            <thead>
            <tr>
                <th>
                    <a href="#">Social Platform</a>
                </th>
                <th>
                    <a href="#" @click.prevent="change_sort('link_text')">Link Text</a>
                    <span v-if="this.sort_field === 'link_text' && this.sort_direction === 'asc'">&uarr;</span>
                    <span v-if="this.sort_field === 'link_text' && this.sort_direction === 'desc'">&darr;</span>
                </th>

                <th>
                    <a href="#" @click.prevent="change_sort('href')">Link</a>
                    <span v-if="this.sort_field === 'href' && this.sort_direction === 'asc'">&uarr;</span>
                    <span v-if="this.sort_field === 'href' && this.sort_direction === 'desc'">&darr;</span>
                </th>

                <th>
                    <a href="#" @click.prevent="change_sort('created_at')">Created date</a>
                    <span v-if="this.sort_field === 'created_at' && this.sort_direction === 'asc'">&uarr;</span>
                    <span v-if="this.sort_field === 'created_at' && this.sort_direction === 'desc'">&darr;</span>
                </th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="link in links.data">
                <td>{{ link.platform_name }}</td>
                <td>{{ link.link_text }}</td>

<!--
TODO fh: überlegen, ob Links in der Übersicht verkürzt werden können.
          <td>{{ link.href.substring(0, 13)}}</td>-->

                <td>{{ link.href}}</td>
                <td>{{ link.created_at }}</td>
                <td>
                    <router-link class="btn btn-info btn-sm" :to="{ name: 'links.edit', params: { id: link.id }}">Edit</router-link>
                    <button @click="delete_link(link.id)" class="btn btn-danger btn-sm">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
        <pagination :data="links" @pagination-change-page="getResults"></pagination>
    </div>



</template>

<script>
    export default {
        data() {
            return {
                links: {},
                platforms: {},
                platform_id: '',
                sort_field: 'created_at',
                sort_direction: 'desc',
            }
        },
        mounted() {
            axios.get('/api/platforms')
                .then(response => {
                    this.platforms = response.data.data
                });
            this.getResults();
        },
        watch: {
            platform_id(value) {
                this.getResults();
            }
        },
        methods: {
            change_sort(field) {
                if (this.sort_field === field) {
                    this.sort_direction = this.sort_direction === 'asc' ? 'desc' : 'asc';
                } else {
                    this.sort_field = field;
                    this.sort_direction = 'asc';
                }
                this.getResults();
            },

            getResults(page = 1) {

                axios.get('/api/links?page=' + page
                    + '&platform_id=' + this.platform_id
                    + '&sort_field=' + this.sort_field
                    + '&sort_direction=' + this.sort_direction)
                    .then(response => {
                        this.links = response.data
                    });
            },


            delete_link(link_id) {
                this.$swal({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/api/links/' + link_id)
                            .then(response => {
                                this.$swal('Link deleted successfully');
                                this.getResults();
                            }).catch(error => {
                            this.$swal({icon: 'error', title: 'Error happened'});
                        });
                    }
                })
            }
        }
    }
</script>
